---
import Section from "../Section.astro"
import Executive from "@/icons/Executive.astro"
import GitHub_Social from "@/icons/GitHub-Social.astro"
import Shield from "@/icons/Shield.astro"
import Target from "@/icons/Target.astro"
import { skills } from "@cv"

const SKILLS_ICONS: Record<string, any> = {
  Executive,
  GitHub_Social,
  Shield,
  Target
}
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => {
        let iconName;
        if (name === "Analysis") {
          iconName = "Target";
        } else if (name === "Software") {
          iconName = "GitHub_Social";
        } else if (name === "DevSecOps") {
          iconName = "Shield";
        } else {
          iconName = name;
        }
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
